# Prevent execution of scripts inside uploads folder
Options -ExecCGI
AddHandler cgi-script .php .php3 .php4 .php5 .phtml .pl .py .jsp .asp .htm .shtml .sh .cgi
RemoveHandler .php .php3 .php4 .php5 .phtml .pl .py .jsp .asp
php_flag engine off
